# Prerequisites
*.d
timing/
*.txt
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extras
*.json
.vscode
*.code-workspace
Jupyter
dockerTFG
rodinia/cuda
*~
done.txt
*.yaml
*.trace
TODO.txt
rodinia/dpct1059.cpp
dpct_notes.txt
rodinia/.gitignore